body, html {
  height: 100%;
  margin: auto ;
  align-content: center;
  text-align: center;
}

.logo{
  
  padding: 20px;
  height: 150px;
}

a{
  font-size: 30px;
  text-decoration: none;
  color: rgb(255, 255, 255);
   font-family: "Courier New", Courier, monospace;
}

.bgimg {
  /* background-image: url('/assets/images/plain.jpg');
  height: 100%;
  background-position: center;
  background-size: cover; */
  height: 100vh;
  width: 100vw;
  z-index: 0;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.bgimg .img{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  left: 0;
  top: 0;
}

.topleft {

  top: 0;
  margin: auto;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}



/* Hover */
a:hover{
  color: orange;
}


/* Responsive */

@media only screen 
  and (max-width: 450px) {

img{
  height: 70px;
}

  }